<div id="parentForm" class="column is-6 is-offset-3">

  <form id="editMaster" method="POST" action="/services/update/{{master._id}}">
    <input type="hidden" name="id" value="{{service._id}}">
    <div class="field">
      <label class="label">Название услуги</label>
      <div class="control">
        <input class="input is-medium" type="text" name="title" placeholder="Стрижка" value="{{service.title}}">
      </div>
    </div>
    <div class="field">
      <label class="label">Категория услуги</label>
      <div class="control">
        <input class="input is-medium" type="text" name="category" placeholder="Косметологи"
          value="{{service.category}}">
      </div>
    </div>
    <div class="field">
      <label class="label">Стоимость</label>
      <div class="control">
        <input class="input is-medium" type="text" name="price" placeholder="1000" value="{{service.price}}">
      </div>
    </div>
    <div class="field">
      <label class="label">Описание услуги</label>
      <div class="control">
        <input class="textarea is-large" type="text" name="description" placeholder="Описание сервиса"
          value="{{service.description}}"> </input>
      </div>
    </div>
    <div class="field">
      <label class="label">Фото</label>
      <div class="control">
        <input class="input is-medium" type="text" name="imgUri" placeholder="Номер фото" value="{{service.imgUri}}">
        <div>
        </div>
      </div>
      <br>
      <div class="control">
        <button type="submit"
          class="button is-link is-fullwidth has-text-weight-medium is-medium">Сохранить</button>
      </div>
  </form>
</div>
</div>
